<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <form action="/message" method="POST">
            <input type= "email" name= "email" id ="email" placeholder="">
            <input type="text" name= "message" id="message" placeholder="">
            <input type="submit" value="Klicka">
        </form>

        <% for (let i = 0; i < getInfo.length; i++){ %>
            <h1><%- getInfo[i].name  %> </h1>
            <p><%- getInfo[i].text  %></p>
         <% } %>
        
        
    </body>
</html>